/*
    mlCameraPosition
    author: @abiddiscombe-os
*/

/* imports */
@import url('https://fonts.googleapis.com/css2?family=Source+Code+Pro&family=Source+Sans+Pro:wght@400;600&display=swap');

/* font */
h1, h2, p, b, ul, li, small { margin: 0px; font-family: 'Source Sans Pro', sans-serif; }
h1    { padding: 0px 0px 8px 0px; font-size: 1.6em; font-weight: 600; }
h2    { padding: 0px 0px 6px 0px; font-size: 1.2em; font-weight: 600; }
p     { padding: 0px 0px 0px 0px; font-size: 1.0em; font-weight: 400; }
b     { padding: 0px 0px 0px 0px; font-size: 1.0em; font-weight: 600; }
ul    { padding: 4px 0px 0px 0px; font-size: 1.0em; font-weight: 400; }
li    { padding: 0px 0px 2px 0px; font-size: 1.0em; font-weight: 400; }
small { padding: 10px 0px 0px 0px; font-size: 0.8em; font-weight: 400; }
small > a { text-decoration: none; }

/* framework */
body {
    padding: 0;
    margin: 0;
    height: 100vh;
    display: grid;
    grid-template-columns: auto 1fr;
}

body > aside {
    padding: 10px;
    margin: 0;
    width: 380px;
    background: #fafafa;
    color: #3d3d3d;
    border-right: 1px solid rgb(233, 233, 233);
    overflow: scroll;
    overflow-x: hidden;
    direction: rtl;
}

body > aside > div {
    padding: 6px 10px 0px 10px;
    margin: 0;
    direction: ltr;
}

body > main {
    padding: 0;
    margin: 0;
    height: 100%;
    display: grid;
    grid-template: 1fr / 1fr;
}

body > main > section {
    grid-area: 1 / 1;
    padding: 0;
    margin: 0;
    height: 100%;
}

body > main > section#container-nomobile {
    z-index: 100;
    padding: 30px;
    background: #e2e2e2;
    color: #505050;
    display: none;
    
}

body > main > section#container-map {
    z-index: 1;
    background: #87CEEB;
}

@media screen and (max-width: 500px) {

    body > aside {
        display: none;
    }

    body > main > section#container-map {
        display: none;
    }

    body > main > section#container-nomobile {
        display: grid;
        place-items: center;
        overflow: none;
    }
}

/* elements */
.codeblock {
    padding: 10px;
    margin: 12px 0px 12px 0px;
    border-radius: 3px;
    background-color: rgb(247, 247, 247);
    border: 1px solid rgb(233, 233, 233);
    display: block;
}

.codeblock > code {
    font-size: 0.9em;
    font-weight: 400;
    font-family: 'Source Code Pro', monospace;
}

.hidden {
    display: none !important;
}

a.fakebutton {
    font-family: 'Source Sans Pro', sans-serif;
    padding: 7px 16px;
    margin: 10px 0;
    background: #e3e1f3;
    color: #363636;
    border: none;
    border-radius: 3px;
    text-decoration: none;
    box-shadow: rgba(0, 0, 0, 0.15) 1.95px 1.95px 2.6px;
    display: inline-block;
}

a.fakebutton:hover {
    background: #d9d5fc;
}